<!DOCTYPE html>
<html>
  <head>
    <title>Contacts</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script type="text/javascript" src="/script.js"></script>
  </head>
  <body>
    <div class="page-column">
      <div class="page-column-content">

        <h1>Login here!</h1>

        <div class="login-container auth-container">
          <form class="auth-form" action="/login" method="POST">
            <label>Username</label>
            <input type="text" class="username" name="username">
            <label>Password</label>
            <input type="password" class="password" name="password">
            <button type="submit" class="verify-user-btn auth-btn">Login</button>
          </form>
            <div class="errorMsg">
              <% if (errorMsg) { %>
                <p><%= errorMsg %></p>
            <%  } %>
            </div>
        </div>
        <div class="go-to-signup">
          Not a member yet?
          <div>
          <a href="./signup"><button class="redirect-btn" type="button">Sign Up!</button></a>
        </div>
        </div>
      </div>
    </div>
</body>
</html>
